<div>
    <h1 class="rot">Welcome!</h1>
    <p>
        Welcome to the <strong>Watch L4D</strong> 2014 Spring ProMod Tournament!
    </p>
    <p>
        <em>Let's face it.</em>  The casts are arguably the <em>best</em> part about any L4D competition.  Over the years we have done pretty well at broadcasting our competitions, but it hasn't been easy and many streamers have come and gone. <strong>Watch L4D</strong> is very new (as I'm sure you can tell just by looking at it), but seeks to centralize our community's streams without requiring us to share stream keys or share accounts.
    </p>
    <p>
        ... and what better way to kickstart it's success than to host a tournament! :D.  
    </p>
</div>
