<html>
<head>
    <title>The Watch L4D 2014 Spring Promod Tournament</title>
    <link rel="Shortcut Icon" href="{{ STATIC_URL }}img/eye.ico" type="image/x-icon" />

    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var Settings = {
            ROOT_URL: '{{ROOT_URL}}'
        };
        var Session = {
            user: {{user|default:'null'|safe}}
        };
    </script>
    
    <script src="{{ STATIC_URL }}thirdparty/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}thirdparty/jquery.transit.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}thirdparty/underscore-min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}thirdparty/backbone-min.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}js/jquery.blacklisted.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.watchl4d.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/util.js{{ STATIC_VERSION }}" type="text/javascript"></script>

    <script src="{{ BACKBONE_TEMPLATE_URL }}{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/init.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/models.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/router.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/controls/slider.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/views/main.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/views/auth_panel.js{{ STATIC_VERSION }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/views/dialog.js{{ STATIC_VERSION }}" type="text/javascript"></script>
</head>
<body>
    {% csrf_token %}
    <div class="left-panel">
        <h1>The Watch L4D 2014 Spring Promod Tournament</h1>
        <a id="home" class="nav-btn rot" href="#home">Home</a>
        <a id="teams" class="nav-btn rot" href="#teams">Teams</a>
        <a id="rules" class="nav-btn rot" href="#rules">Rules</a>
        <a id="resources" class="nav-btn rot" href="#resources">Resources</a>

        {% if signups_open %}
            <em class="disclaimer">Links to round pages will appear once the tournament starts and as rounds progress</em>
        {% endif %}
    </div>
    <div class="right-panel">
        <div id="home-panel" class="slide"></div>

        <div id="teams-panel" class="slide">
            <div>
                <h1 class="rot">Teams</h1>
                <em>Team Count: <strong>{{ teams.count }}</strong></em>
                <div class="table">
                    {% for pair in paired_teams %}
                        <div class="row">
                            {% for team in pair %}
                                {% if team %}
                                    <div class="col">
                                        <div><strong>{{ team.name }}</strong></div>
                                        {% if team.captain.steam_profile %}
                                            <a href="{{ team.captain.full_steam_profile }}" target="_blank">
                                                {{ team.captain.name }}
                                            </a>
                                        {% else %}
                                            <div class="orange">{{ team.captain.name }}</div>
                                        {% endif %}
                                        {% for member in team.members.all %}
                                            {% if member.steam_profile %}
                                                <a href="{{ member.full_steam_profile }}" target="_blank">
                                                    {{ member.name }}
                                                </a>
                                            {% else %}
                                                <div class="orange">{{ member.name }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="rules-panel" class="slide"></div>
        <div id="resources-panel" class="slide"></div>
    </div>
    <a class="stream-panel" href="http://www.watchl4d.com" target="_blank">
        Go To the <strong>Watch L4D</strong> Stream!
    </a>
    <div class="auth-panel"></div>
</body>
</html>