<h1 class="rot">Resources</h1>

<div class="section">
    <div><strong>Admins</strong>
    <div><a href="http://steamcommunity.com/id/estoopi" target="_blank">EsToOpi</a></div>
    <div><a href="http://steamcommunity.com/id/ZenDigital/" target="_blank">Zen Digital</a></div>
</div>
<hr/>

<div class="section">
    <div><strong>Config</strong>
    <div>
        You can get the latest ProMod config (Currently version 3.4) at 
        <a href="http://l4dpromod.com/" target="_blank">L4DProMod.com</a>.  Installation instructions and a change log is supplied on that sight as well.
    </div>
</div>
<hr/>

<div class="section">
    <div><strong>Custom Campaigns</strong>
    <div>
        You can download <em>Detour Ahead</em> from either <a href="http://www.l4dmaps.com/details.php?file=4094" target="_blank">L4D Maps</a> or <a href="http://buttsecs.org/maps/" target="_blank">Buttsecs</a>.  <em>Tip: The download size isn't particularly large, but if you register as user on L4DMaps, their downloads run much faster.</em>
    </div>
</div>
<hr/>

<div class="section">
    <div><strong>General Discussion</strong>
    <div>
        Use the <a href="http://www.l4dnation.com/forum/" target="_blank">L4D Nation Forums</a> for general discussion.  You will find the official tournament announcement on there as well.
    </div>
</div>
<hr/>

<div class="section">
    <div><strong>Finding Scrims</strong>
    <div>
        Post a simple announcement such as "4v4" or "Scrim" on the <a href="http://steamcommunity.com/groups/L4D2_Scrim_Network" target="_blank">L4D2 Scrim Network</a>.  Someone <em>should</em> add you on steam as a response relatively quickly to get your gaming going.
    </div>
</div>
<hr/>

<div class="section">
    <div><strong>Approved Servers</strong></div>
    <div style="text-align: left;">
    <ul>
        <li>64.94.101.152:27015 - <small>"WatchL4D Spring Tourney | LA [T60]"</small></li>
        <li>72.5.195.138:27015 - <small>"Team StickUpKidz/WatchL4D Spring Tourney #1 | CHI [T60]"</small></li>
        <li>72.5.195.138:27016 - <small>"Team StickUpKidz/WatchL4D Spring Tourney #2 | CHI [T60]"</small></li>
        <li>192.223.27.185:27015 - <small>"WatchL4D Spring Tourney | NY [T60]"</small></li>
        <li>74.91.115.81:27015 - <small>"Puppy Palace [Chicago] T60"</small></li>
        <li>74.91.120.163:27015 - <small>"Puppy Palace [Dallas] T60"</small></li>
        <li>192.223.31.240:27015 - <small>HyperV New-York L1</small></li>
        <li>192.223.31.240:27016 - <small>HyperV New-York L2</small></li>
        <li>192.223.29.225:27015 - <small>HyperV Dallas L1</small></li>
        <li>192.223.29.225:27016 - <small>HyperV Dallas L2</small></li>
        <li>174.34.167.29:27015 - <small>AG CHI #1</small></li>
        <li>174.34.167.30:27015 - <small>AG CHI #2</small></li>
        <li>23.19.172.143:27015 - <small>AG DAL #1</small></li>
        <li>23.19.172.144:27015 - <small>AG DAL #2</small></li>

    </ul>
</div>
</div>
