<div>
<h1 class="rot">Rules</h1>
<h3>Tournament Structure</h3>
<p>
    <span class="orange">This tournament will begin as a swiss style tournament and use a single-elimination bracket system to resolve any ties in score+resistance at the end of the swiss rounds.</span>
    This allows all teams to be able to play through the majority of length of the tournament rather
    than being cut from the bracket in their first or second game.  This also will allow us to gauge
    how well teams are doing throughout the tournament and match teams with similar records, which will
    output closer games and more interesting matches.
</p>
<p>
    <strong>Some important dates</strong>
    <ul>
        <li>Sign ups start now o_o</li>
        <li>Sign ups end February 2, 2014 (2 week signup period)</li>
        <li>Round 1 starts Monday February 3rd</li>
        <li>Round 1 ends the following Sunday</li>
        <li>
            From there, each round starts on the subsequent Monday and ends on the following Sunday 
            of that same week.
        </li>
    </ul>
</p>
<p>
    As of now, the planned round by round map pool for the swiss portion of the tournament will include the following (in order):
    <table class="colorful">
        <tr><td>Round 1:</td><td>Dark Carnival</td></tr>
        <tr><td>Round 2:</td><td>Dead Center</td></tr>
        <tr><td>Round 3:</td><td>Swamp Fever</td></tr>
        <tr><td>Round 4:</td><td>Detour Ahead</td></tr>
        <tr><td>Round 5:</td><td>The Parish (1-4)</td></tr>
        <tr><td>Round 6:</td><td>Hard Rain</td></tr>
    </table>
    
    The swiss portion of the tournament will be 6 weeks in length.  There will either be a 3 round or 2 round single elimination bracket
    immediately following the swiss portion of the tournament depending on how many teams sign up.
    
    Please keep in mind that all if this information is up for changes.
</p>
<p>
    <ul>
        <li>
            Round 1's pairings will be random.
        </li>
        <li>Every team's "tournament score" starts at 0.</li>
        <li>If you win a match, your tournament score goes up +1.</li>
        <li>If you lose a match, your tournament score doesn't change.</li>
        <li>
            If your opponents forfeit or are unable to play for any reason, tournament admins will try their best
            to pair you against new opponents (which will only be possible if another team's opponents also forfeited).
            If admins are unable to assign you a new opponent, you will be rewarded +1 score even though you did not
            play a match.  Your opponents will recieve nothing of course.
        </li>
        <li>
            In the event of a tie, there will be a rematch
        </li>
        <li>
            In the event of a score+resistance tie at the end of round 6, a sub-bracket (hopefully only a single tie-breaker game) will be used to decide who gets to proceed to the finals bracket.
        </li>
    </ul>
</p>
<p>
    <h4>What does this all mean?</h4>
    Teams will be paired based on the following (in this priority):
    <ul>
        <li>Score</li>
        <li>Resistance</li>
        <li>Whether a team has played another team already in the tournament (There will be no duplicate pairings until the finals bracket)</li>
        <li>No. of times played as Home Team / No. of times played as Challenging Team ratio</li>
        <li>Random</li>
    </ul>
</p>
<h3>Misc.</h3>
<ul>
    <li>Valve Anti-Cheat (VAC) Valves proprietary anti-cheat software is required in all tournament play</li>
    <li>
        If you hack in any way, your team is disqualified from the tournament.
    </li>
    <li>
        The admins have an internal list of players/teams that are not allowed to play in this tournament or are
        under close watch.  This list will be kept private, but any actions made as far as disqualifying or disallowing teams/players
        will be made public when they occur.
    </li>
    <li>The home team in any match gets their choice of survivor or infected first on map 1</li>
    <li>
        Any attempt at "smurfing" or "aliasing" as another established player will result in the disqualification
        of the entire team.  Do not harbor a smurf.
    </li>
</ul>
<h3>Rounds</h3>
<ul>
    <li>
        Each round will be 1 week in length.  You have that week to play your match.  Contact someone
        (preferably the captain) from the other team and arrange a match time and server.
    </li>
</ul>
<h3>Submitting Match Schedules</h3>
<ul>
    <li>
        In order to get streams running properly and organization can be done quickly we recommend schedule ur matches early each round. The new Rounds will be announced every Monday so we recommend to schedule your games and post time and date on the 
        match page so streamers can get ready and you make sure you wont miss the deadlines :P.  
        We wont make exceptions in deadlines.  If you are not able to play at least 1 match during 1 week you shouldn't sign up in the tournament and you will receive a loss.
    </li>
</ul>
<h3>Matches</h3>
<ul>
    <li class="orange">Matches must be played ProMod 3.4.</li>
    <li>Every match is a "Best of 1" match.  That means there is a single match every round.</li>
    <li class="orange">
        <strong>The following maps the required server locations per match based on team continental region.  No one should have to play with 300+ ping.  If any teammate has more than 300 ping after following this mapping, contact an admin to locate a more suitable server or find a new server yourselves.  Obviously if you can find a server that is most even between the two teams and you'd like to be fairer than this table suggests, feel free:</strong>
        <table class="orange">
            <tr>
                <td></td>
                <td><strong>N. America</strong></td>
                <td><strong>Europe</strong></td>
                <td><strong>Russia</strong></td>
                <td><strong>S. America</strong></td>
                <td><strong>Australia</strong></td>
                <td><strong>Asia</strong></td>
            </tr>
            <tr>
                <td><strong>N. America</strong></td>
                <td>N. America (USA pref)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Europe</strong></td>
                <td>US - New York</td>
                <td>Europe</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Russia</strong></td>
                <td>US - New York</td>
                <td>EU - Netherlands</td>
                <td>Russia</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>S. America</strong></td>
                <td>US - Dallas</td>
                <td>US - New York</td>
                <td>US - New York</td>
                <td>S. America</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Australia</strong></td>
                <td>US - LA</td>
                <td>US - Chicago</td>
                <td>US - Chicago</td>
                <td>US - LA</td>
                <td>Australia</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Asia</strong></td>
                <td>US - LA</td>
                <td>US - Chicago</td>
                <td>US - Chicago</td>
                <td>US - LA</td>
                <td>Asia</td>
                <td>Asia</td>
            </tr>
        </table>
    </li>
    <li>Teams cannot refuse Streams and Spectators are NOT allowed on the Tournament servers during the matches, except for admins of the Tournament and Casters/Streamers of course.</li>
    <li>
        Every player in a match must record a demo. Use 'record &lt;some text&gt;' in the console to do so.  If a player must leave the server
        for any reason (most likely a crash), they must start recording their demo again once they re-join.
        <div class="orange">Please record demos! There will be near-0 tolerance (on an almost unfair level) for lack of demos during a dispute!</div>
    </li>
    <li class="orange">
        Every player in a match is required to take at least 2 screenshots per map (1 as survivor, 1 as infected). You do not necessarily have to upload every screenshot.  If a team disputes something that your team did and you
        cannot supply at least 1 screenshot, you may pay the price of a forfeit, depending on the situation at hand.
        Please take screenshots! There will be near-0 tolerance (on an almost unfair level) for lack of screenshots during a dispute!
    </li>
    <li>
        Additionally, either team is allowed to pause the game and requests screenshots at any time during a match.
        If anyone on the other team refuses to take a screenshot or suddenly disconnects from the server, that team
        will accept a forfeit loss.
    </li>
    <li>
        If a player disconnects from the server for any reason during a match, that player must
        restart recording a demo once they reconnect.
    </li>
    
    <li>Teams have 20 minutes from the decided time of the match to "ready up". If neither team has 4 players
        loaded into the decided server at the scheduled time of the match, the 20 minute countdown will start
        once 1 of the teams has 4 players loaded.
    </li>
    <li>
        Teams are allowed a total of 15 minutes of pause time.  Using more than 15 minutes of pause time is disputable.
        Additionally, excessive/frequent pauses are also disputable.
    </li>
    <li>
        Tickrate enabler is allowed.
    </li>
    <li>
        Any number of ringers are allowed to participate regardless of whether the other team has a problem
        with it or not.  If there is a serious problem with a ringer, please contact an admin and discuss the
        situation.  The only requirement is that the ringer must not be on a team currently registered with the tournament.
        Teams are considered registered throughout the tournament regardless of whether they are actively playing there matches or not.
    </li>
    <li>
        Server settings are not allowed to be changed during live gameplay.  If server settings NEED to be changed
        do so between rounds or during a pause.
    </li>
</ul>
<h3>Submitting Match Results</h3>
<ul>
    <li>
        Once a match ends, the winners need to submit the scores (along with a link to a screenshot of the scores) on
        the appropriate round page.
    </li>
    <li>
        You do not need to upload a demo.  However, if demos are requested to investigate a dispute and you are unable to supply a demo, a penalty may proceed.
    </li>
    <li>
        Submissions of the results must be done before 11:59PM <b>EST</b> Sunday nights on the week of each round.
        There will be no exceptions.  If you don't get your results in, the match will default as a tie/2-losses.
    </li>
</ul>
<h3>Personal Game Modifications</h3>
<ul>
    <li>
        It is illegal to modify game files or sounds.  Failure to abide by this rule may result in the replay of
        a match, a forfeit loss, or the offender being kicked out of the tournament (at admin discretion).  This
        includes but is not limited to:
        <ul>
            <li>Sound modifications of any kind</li>
            <li>Skybox modifications</li>
            <li>Weapon skin modifications</li>
            <li>SI and Survivor skin modifications</li>
            <li>Hunter trails, rainbow boomer explosions, any other custom particle effects</li>
            <li>Any texture/brush replacements</li>
        </ul>
        You <strong>ARE</strong> allowed to use:
        <ul>
            <li>Custom huds</li>
            <li>Removal of the blue or orange infected vision</li>
        </ul>
    </li>
    <li>
        It is illegal to toggle or change your lerp during survivor/infected gameplay.  If for some reason you
        need to change your lerp, it should be done during "readying up" / beginning of round / end of round.
    </li>
    <li>Third person view is illegal. All players must use first person at ALL times.</li>
</ul>
<h3>Gameplay</h3>
<ul>
    <li>
        It is illegal to go spectate to kill your special infected EXCEPT for when you are stuck in the map somehow.
    </li>
    <li>Haymakers are illegal and disputable</li>
    <li>Skipping portions of the map or events/crescendos is illegal.</li>
    <li>Intentionally placing a tank in a position where the AI tank cannot advance is illegal.  If an AI
        tank gets stuck, the survivor team must be notified immediately.
    </li>
    <li>Intentionally glitching a tank so that it is stuck so that it warps/teleports to survivors is illegal.</li>
    <li>Sprays that represent anything related to map models are considered illegal. (i.e. medkit stations, 
        infected/survivor models, weapon models, ammo dump models, etc.)
    </li>
    <li>
        It is illegal to ledge hang yourself on purpose in order to get a free 30 temp hp.
    </li>
    <li>
        It is illegal to glitch through any closed door as infected.  This includes the safe room door.
        Note that this is particularly easy to do on Arena of the Dead 2.  DONT DO IT.  This is disputable.
    </li>
    <li>It is illegal to glitch during ready-up to give yourself more than 100 initial health</li>
    <li>
        Blocking the path of the survivors with any prop/entity/moveable object on the map that prevents
        them from advancing is illegal.  Tank hittables are ok as they will disappear once the tank dies.
    </li>
    <li>Purposely being in a position where the common infected cannot reach you is illegal.</li>
    <li>Camping anywhere the infected cannot attack you is illegal.</li>
    <li>
        If for whatever reason you are able to pick up a hunting rifle, drop it.
        You are not allowed to use the hunting rifle.
    </li>
    <li>
        Clipping is illegal.  Clipping is when a player manipulates him/herself so that they can see over, 
        under, and/or through any solid entity such as a wall or box. Hitting survivors through walls with 
        the tank is considered clipping. Pouncing through the crack in the saferoom door while the door is 
        closed is considered clipping.
    </li>
</ul>
<h3>Map Specific</h3>
<ul>
    <li>
        Detour Ahead - It is possible to glitch the horde on the finale.  If this occurs, the survivor team must restart their half.
    </li>
</ul>
<h3>Uncontrollable Events</h3>
<ul>
    <li>If a tank spawns on fire, either team has the right to restart the chapter.</li>
    <li>If a tank kills itself in any way before a player can take control, the roud must be restarted.</li>
    <li>
        If a human controlled tank gets stuck in a map in the midst of battle (meaning, they aren't dicking around behind the map 
        and they're actually fighting the survivors) and L4D2 will not teleport them out of
        being stuck, a round restart will be granted.  You may you setscores to adjust scores if this happens in the 
        second half of a round.
    </li>
    <li>
        If the tank spawns in a place where he is unable to attack the survivors, both teams must agree to either
        let the tank go AI and keep playing, or to restart the chapter.  If the teams cannot agree on what to do,
        then the chapter must be restarted.  If the chapter is restarted and the tank gets stuck again, the chapter
        must be played out with the tank going AI.
    </li>
    <li>If a server becomes extremely laggy for a period of time over 3 minutes, keep track of
        the scores as of finishing the previous chapter and:
        <ol>
            <li>Restart server and proceed on the current map OR</li>
            <li>Find a new server and proceed on the current map</li>
        </ol>
        If it is the second half of the map, the team who had already completed their half should go second 
        the second time around.  If the tank spawns in relatively the same area of the map (within
        a 25% window), that team does not get to play the half again as survivor.  If the tank spawns in a 
        different place on the map, that team has to play the half again.
        Use the power of screenshots and demo recordings so that we don't have any issues arguing about
        what the scores are supposed to be.
    </li>
</ul>
<h3>Disputes</h3>
<ul>
    <li class="orange">Contact EsToOpi or ZenDigital.</li>
</ul>
</div>
