<html>
<head>
    <title>The Watch L4D 2014 Spring Promod Tournament</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var Settings = {
            ROOT_URL: '{{ROOT_URL}}'
        };
        var Session = {
            user: {{user|default:'null'|safe}}
        };
    </script>
    
    <script src="{{ STATIC_URL }}thirdparty/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}thirdparty/underscore-min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}thirdparty/backbone-min.js" type="text/javascript"></script>
      
    <script src="{{ STATIC_URL }}js/init.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/models.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/router.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/controls/slider.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/views/main.js" type="text/javascript"></script>
</head>
<body>
    <div class="left-panel">
        <h1>The Watch L4D 2014 Spring Promod Tournament <span style="color:red">BETA</span></h1>
        <div id="home" class="nav-btn">Home</div>
        <div id="rules" class="nav-btn">Rules</div>
        <div id="stream" class="nav-btn">Stream</div>
        <div id="resources" class="nav-btn">Resources</div>
    </div>
    <div class="right-panel">
    </div>
</body>
</html>