body {
    background-color: #202020;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px black;
    width: 900px;
    margin: 0 auto;
}

.left-panel {
    height: 100%;
    background-color: #101010;
    width: 30%;
    float: left;
}

.right-panel {
    width: 70%;
    background-color: #333333;
    height: 100%;
    float: left;
    box-shadow: 1px 1px 10px black;
}