body {
    background-color: #202020;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px black;
}

.channel {
    margin: 0 auto;
    width: 1008px;
    opacity: 0;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.provided-by-pretext {
    font-style: italic;
    color: gray;
    margin-left: 14px;
}

.provided-by {
    color: red;
    font-weight: bold;
}

.channel-name {
    color: #888888;
    font-style: italic;
    font-weight: bold;
}

.video-embed {
    height: 378px;
    width: 620px;
    float: left;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 1px 1px 10px 1px #111111;
}

.chat-embed {
    height: 378px;
    width: 350px;
    margin: 4px;
    padding: 4px;
    float: left;
}

.spinner {
    position: absolute;
    top: -25%;
    left: 0%;
    opacity: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.spinner-interior {
    display: inline-block;
    padding: 8px;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner img {
    margin: 5px;
}