body {
    background-color: #202020;
    background-image: url('../img/bg.jpg');
    background-size: contain;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px black;
}

h1 {
    text-shadow: 0px 0px 15px red;
}

strong {
    color: red;
    text-shadow: 0px 0px 15px white;
}

a {
    color: white;
    text-decoration: none;
    transition: text-shadow 200ms;
    -webkit-transition: text-shadow 200ms;
}
a:hover {
    text-shadow: 0px 0px 15px red;
}

.banner {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.channel {
    margin: 0 auto;
    width: 1008px;
    opacity: 0;
}

.sponsors {
    margin: 10px auto;
    width: 1008px;
    text-align: center;
}

.sponsor {
    max-width: 20%;
    font-size: 1.7em;
    font-weight: bold;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.sponsor img {
    position: relative;
    top: 50%;
    width: 100%;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.provided-by-pretext {
    font-style: italic;
    color: gray;
    margin-left: 14px;
}

.provided-by {
    color: red;
    font-weight: bold;
}

.channel-name {
    color: #888888;
    font-style: italic;
    font-weight: bold;
}

.video-embed {
    height: 378px;
    width: 620px;
    float: left;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: black;
    box-shadow: 1px 1px 10px 1px #111111;
    -webkit-box-shadow: 1px 1px 10px 1px #111111;
}

.chat-embed {
    height: 378px;
    width: 350px;
    margin: 4px;
    padding: 4px;
    float: left;
}

.channels {
    position: fixed;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    top: 45px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #777777;
    padding: 5px;
    font-weight: bold;
    line-height: 1.4;
    font-size: 0.8em;
}

.spinner {
    position: absolute;
    top: -25%;
    left: 0%;
    opacity: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.spinner-interior {
    display: inline-block;
    padding: 8px;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner img {
    margin: 5px;
    max-height: 20px;
}
