@font-face {
    font-family: DaysLater;
    src: url('../fonts/28dayslater.ttf');
}

body {
    background-color: #202020;
    background-image: url('../img/bg.jpg');
    background-size: contain;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px black;
    margin-left: 158px;  /* space for menu */
}

h1 {
    text-shadow: 0px 0px 15px red;
}

strong {
    text-shadow: 0px 0px 15px white;
}

a {
    color: white;
    text-decoration: none;
    transition: text-shadow 200ms;
    -webkit-transition: text-shadow 200ms;
}
a:hover {
    text-shadow: 0px 0px 15px red;
}

.dayslater {
    font-family: DaysLater, Tahoma, Geneva, sans-serif;
    font-size: 5em;
}

.header {
    position: relative;
    text-align: center;
}


.banner {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.channel {
    margin: 0 auto;
    width: 1008px;
    opacity: 0;
}

.sponsors {
    margin: 10px auto;
    width: 1008px;
    text-align: center;
}

.sponsor {
    max-width: 20%;
    font-size: 1.7em;
    font-weight: bold;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.sponsor .hitbox-logo {
    height: 40px;
    width: auto;
}

.bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.sponsor img {
    position: relative;
    top: 50%;
    width: 100%;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.provided-by-pretext {
    font-style: italic;
    color: gray;
    margin-left: 14px;
}

.provided-by {
    color: red;
    font-weight: bold;
}

.channel-name {
    color: #888888;
    font-style: italic;
    font-weight: bold;
}

.viewers {
    color: white;
    font-style: normal;
}

.video-embed {
    display: inline-block;
    float: left;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: black;
    box-shadow: 1px 1px 10px 1px #111111;
    -webkit-box-shadow: 1px 1px 10px 1px #111111;
}

.chat-embed {
    height: 378px;
    width: 350px;
    margin: 4px;
    padding: 4px;
    float: left;
}

.menu {
    position: fixed;
    min-width: 110px;
    width: auto;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #202020;
    border-right: 1px solid #111111;
}

.menu strong {
    font-size: 1.5em;
    color: white;
    text-shadow: none;

}

.menu .row {
    position: relative;
    padding: 0.2em 0.8em;
    border-bottom: 1px solid #333333;
    color: #666666;
    max-width: 140px;
    overflow: hidden;
}

.menu .row .spinner-small {
    position: absolute;
    top: 25%;
    right: 5px;
}

.menu .row.selected {
    font-weight: bold;
    background-color: #555555;
}

.menu .row.featured-row {
    display: none;
}


.menu .row.live,
.menu .row.featured-row {
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
    -webkit-transition: background-color 200ms;
}
.menu .row.live:hover,
.menu .featured-row:hover {
    background-color: #666666;
}
.menu .row.live:active,
.menu .featured-row:active {
    background-color: white;
}

.menu .row .sub-row {
    padding: 0.15em 0.8em;
}

.menu .row .sub-row.featured-channel {
    color: white;
    font-size: 1.2em;
    text-shadow: 0px 0px 6px yellowgreen;
    font-weight: normal;
}

.menu .row .sub-row.channel-title {
    font-style: italic;
    color: #999999;
    font-size: 0.95em;
    max-width: 140px;
    overflow: auto;
}

.spinner {
    position: absolute;
    top: -25%;
    left: 0%;
    opacity: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.spinner-interior {
    display: inline-block;
    padding: 8px;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner img {
    margin: 5px;
    max-height: 20px;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-live {
    background-image: url('../img/live.svg');
    height: 1.3em;
    width: 1.3em;
    position: relative;
    top: 0.1em;
}

.icon-eye {
    background-image: url('../img/eye.svg');
    height: 1.7em;
    width: 1.7em;
    position: relative;
    top: 0.4em;
}

.icon-refresh {
    position: fixed;
    top: 0px;
    right: 0px;
    background-image: url('../img/refresh.svg');
    transition: transform 100ms;
    -webkit-transition: -webkit-transform 100ms;
    cursor: pointer;
    display: block;
}
.icon-refresh:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.icon-star {
    background-image: url('../img/star.svg');
    height: 1.7em;
    width: 1.7em;
    position: relative;
    top: 0.25em;
}
